	body{
		background-color: #d1ded9;
		font-family: 'Lato', sans-serif;
	}
	fieldset{
		border-radius: 8px;
		margin: 10% 8% 0% 8%;
		border: rgba(145, 145, 145, 0.7) solid 3px;
		padding-bottom: 5%;
		background-color: rgba(255, 255, 255, 0.7);
		background-image: url(../download.png);
		background-repeat: no-repeat;
		background-position: 50px 95px;

	}
	#first{
		font-family: 'Poppins', sans-serif;
		font-size: 90%;
		margin-left: 45%;
	}
	#second{
        margin-top: 10px;
        margin-bottom: 0px;
	}
	#third{
		margin-top: 20px;
        margin-bottom: 0px;
	}
	#custinfo{
		font-size: 150%;
		margin: 20px 0px 2px 15px;
		font-weight: 600;
	}
	a.main{
		float: right;
		margin-right: 16px;
		margin-top: -10px;
		font-size: 125%;
		font-weight: 600;
	}
	a.main:hover{
		text-decoration: none;
		color: black;
	}
	a{
		text-decoration: none;
		text-align: right;
	}
	a:link{
		color: grey;
	}
	a:visited{
		color: lightgrey;
	}
	a:hover{
		text-decoration: underline;
		color: black;
	}
	hr{
		margin: 20px 15px 0px 16px;
	}
	.birth{
		margin-left: 129px;
	}
	.zipcode{
		margin-left: 171px;
	}
	#age{
		margin-left: 8px;
		width: 125px;
	}
	#city{
		width: 150px;
	}
	#zip{
		margin-left: 20px;
		width: 125px;

	}
	#maill{
		width: 250px;
	}
	#ctry{
		width: 220px;
	}
	input{
		height: 40px;
		border-radius: 5px;
		border: rgba(128, 128, 128, 0.6) solid 2px;
		margin-top: 5px;
		padding-left: 15px;
		color: grey;
	}
	input:focus{
		border: 2px solid #1ed4a9;
	    outline: none;
	}
	input:hover{
		background-color: rgba(255, 255, 255, 0.0);
	}
	::placeholder{
		color: rgba(128, 128, 128, 0.7);
	}
	.payme{
		margin-left: 76px;
	}
	#tel{
		width: 120px;
	}
	select{
		height: 40px;
		width: 130px;
		margin-left: 40px;
		color: grey;
		border-radius: 5px;
		border: rgba(128, 128, 128, 0.6) solid 2px;
	}
	select:focus{
		border: 2px solid #1ed4a9;
	    outline: none;
	}
	select:hover{
		background-color: rgba(255, 255, 255, 0.0);
	}
	#submit{
		border-radius: 25px;
		width: 320px;
		margin-left: 20px;
		margin-top: 20px;
		background-color: #1ed4a9;
		color: white;
	}
	#submit:hover{
		background-color: black;
	}
	#info{
		margin-top: -70px;
	}
	small{
		margin-bottom: -30px;
		margin-left: 15px;
	}	
	#one{
		width: 320px;
	}